<!DOCTYPE html>
<html>

<head>
    <title>Favorites</title>
</head>

<body>

    <h1>Saved Favorite Universities</h1>

    {% if favorites %}

        {% for university in favorites %}

            <div style="border:1px solid black; padding:15px; margin:10px;">

                <h3>{{ university.name }}</h3>

                <p>Country: {{ university.country }}</p>

                <p>
                    Website:
                    <a href="{{ university.website }}" target="_blank">
                        Visit Website
                    </a>
                </p>

        <form method="POST" action="/delete_favorite">

                <input
                type="hidden"
                name="name"
                value="{{ university.name }}" >

                <button type="submit"> Remove </button>

        </form>

            </div>

        {% endfor %}

    {% else %}

        <h2>No favorites saved yet.</h2>

    {% endif %}

</body>
</html>