<!DOCTYPE html>
<html>

<head>
    <title>Favorites</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

    <h1>Saved Favorite Universities</h1>

    {% if favorites %}

        {% for university in favorites %}

            <div class="card">    <!-- Simple styling for each university entry -->

                <h3>{{ university.name }}</h3>

                <p>Country: {{ university.country }}</p>

                <p>
                    Website:
                    <a href="{{ university.website }}" target="_blank">
                        Visit Website
                    </a>
                </p>

        <form method="POST" action="/delete_favorite">

                <input
                type="hidden"
                name="name"
                value="{{ university.name }}" >

                <button type="submit"> Remove </button>

        </form>

            </div>

        {% endfor %}

{% else %}

    <h2>No favorites saved yet.</h2>

{% endif %}

<div class="top-buttons">

    <form method="POST" action="/clear_favorites">
        <button type="submit">
            Clear All Favorites
        </button>
    </form>

    <form action="/">
        <button type="submit">
            Back to Search
        </button>
    </form>

</div>

</body>
</html>