<!DOCTYPE html>
<html>

<head>
    <title>...</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

    <h1 class="center">Search History</h1>
    {% if history %}

        {% for search in history %}

<div class="card">
    
    <h3>{{ search.query }}</h3>
    <p>Results Found: {{ search.count }}</p>
    <p>Date: {{ search.date }}</p>

    <form method="POST" action="/delete_history"> 

        <input type="hidden" name="id" value="{{ search.id }}">

        <button type="submit">Delete</button>

    </form>

</div>

        {% endfor %}

    {% else %}

        <h2>No search history available.</h2>

    {% endif %}

<div class="top-buttons">

    <form method="POST" action="/clear_history">

        <button type="submit">Clear All History</button>

    </form>

    <form action="/">

        <button type="submit">Back to Search</button>

    </form>

</div>

</body>
</html>