<!DOCTYPE html>
<html>

<head>
    <title>...</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

    <h1>Search History</h1>

    {% if history %}

        {% for search in history %}

<div class="card">
    
    <p><strong>{{ search.query }}</strong></p>
    <p>Results Found: {{ search.count }}</p>
    <p>Date: {{ search.date }}</p>

    <form method="POST" action="/delete_history"> 
s
        <input type="hidden" name="id" value="{{ search.id }}">

        <button type="submit">
            Delete
        </button>

    </form>

</div>

        {% endfor %}

    {% else %}

        <h2>No search history available.</h2>

    {% endif %}

<form method="POST" action="/clear_history"> <!-- Form to clear all search history, submits to the /clear_history route -->

    <button type="submit">
        Clear All History
    </button>

</form>

<form action="/">   <!-- Button to go back to the home page -->
    <button type="submit">Back to Search</button>

</body>
</html>