<!DOCTYPE html>
<html>

<head>
    <title>...</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

    <h1>University Map - {{ country }}</h1>



<div style="text-align:center;">

    <iframe
        src="/static/maps/university_map.html"
        width="75%"
        height="500"
    >
    </iframe>

</div>

<div class="top-buttons">

    <form action="/">
        <button type="submit">
            ← Back to Home
        </button>
    </form>
</div>


</body>

</html>